/*global*/
/*mainpage*/
/*lab&exhibits*/

html *{
    font-family: 'Inter','Raleway','Roboto';
}
body{
    margin:0 auto;
    width: 100%;
   
    display: flex;
    flex-direction: column;
}
.topnav{
    
    background-color:rgb(187, 127, 191);
    position:fixed;
    top: 0;
    width: 100%;
    z-index: 100;
}
.topnav a{
    float: left;
    color: black;
    padding: 5px 10px 8px 10px;
    text-decoration: none;
    font-size: 17px;
    text-align: left;
    
}
.topnav a:hover{
    border: 2px solid rgb(2, 200, 200);
    color:white;
}
.topnav a:active{
    background-color: mediumorchid;
    color:black;
}
i{
    margin-left: 10px;
    font-size: 20px;
    color: white;
}
nav ul{
    margin: 0;
    padding: 0;
    list-style: none;
    background-color: rgb(0, 0, 0)
}

header{
        background-position: bottom,right;
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-size: cover;
        background-image: url(../images/greg-rakozy-oMpAz-DN-9I-unsplash.jpg);
        display: flex;
        flex-shrink: inherit;
        align-items: center;
        justify-content:center;
        background-color: lightskyblue;
        width:100%;
        height: 150px;
    }
   
h1{
    display: flex;
    flex-wrap: wrap;
    font-size: 40px;
    margin-top:90px;
    
}
h2{
    font-size: 50px;
    color: rgb(252, 252, 250);  
    margin: 10px;
}
h3{
    font-size: 30px;
    background-color: rgb(2, 200, 200);
    height: 40px;
    border-radius: 8px;
    padding: 3px;
}
h4{
    color: white;
    font-size: 20px;
}
.mainwrapper{
    display: flex;
    flex-flow: wrap;
    text-align: center;
    background-color: black;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 800px;
    overflow:auto;
}
.container{ 
    position:relative;
    justify-content: center;
    width: 300px;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    overflow: auto;
    
}
p{
    color: white;
}
.department{
    position: absolute;
    text-align:justify;
    padding:30px;
    text-align:center;
    
}
img {
    width: 250px;
    height: 500px;
    margin: 10px;
    border-radius: 20px;
}

.button_dark{
    display: flex;
    flex-wrap: wrap;
    padding: 10px;
    background-color: rgb(2, 200, 200);
    border-radius: 30px;
    position: absolute;
    margin-top: 420px;
    justify-content: center;
    border-color: rgb(6, 74, 60);
    border-style: solid;
}
.button{
    display: flex;
    flex-wrap: wrap;
    padding: 10px;
    background-color: rgb(2, 199, 199);
    border-radius: 30px;
    position: absolute;
    justify-content: center;
    margin-top: 360px;


}
a{
    text-decoration: none;
    color:white;
}
a:hover{
    color: lightgray;
    border:2px solid rgb(2, 200, 200);
    border-radius: 8px;
    padding: 8px;
}
.content1{
    display: flex;
    flex-wrap: wrap;
    color: white;
    font-size: 17px;
    justify-content: start;
    position: absolute;
    bottom: 140px;
    left:70px;
    right:70px;
    padding:10px;
    text-align: left;
    background-color: rgb(187, 127, 191);
    border-radius: 20px;
}

footer a{
    font-size: 25px;
    text-decoration: none;
    margin-right: 40px;
    margin-left: 30px;
    padding: 6px;
    color: white;

}
footer{
    
    background-position: bottom,right;
    background-repeat: no-repeat;
    background-size: cover;
    background-image:url(/images/alexander-andrews-fsH1KjbdjE8-unsplash.jpg);
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content:space-between;
    background-color: lightskyblue;
    width:100%;   
  
}
.some{
    text-align: center;
    margin-bottom: 10px;
}
/*schedule*/
.openhour{
    font-size: 15px;
    text-align:center;
    color: white;
    margin:auto;
    display: flex;
    flex-wrap: wrap;
}
/*Tickets*/
.container1{ 
    position: relative;
    justify-content: center;
    width: 260px;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    margin: 0px;
}
.dropbutton{
background-color: rgb(2, 200, 200);
color: black;
padding: 15px;
font-size: 15px;
border: none;
border-radius: 10px;
margin-top: 10px;
}
.dropdown{
    position: relative;
    display:inline-block;
    margin-bottom: 20px;
    background-color: rgb(2, 200, 200);
    border-radius: 10px;
    border: 1px solid black;
    padding: 8px;
    border-width: 2px;
    border-style: inset;
    border-color: -internal-light-dark(rgb(118, 118, 118), rgb(133, 133, 133));
    border-image: initial;
}
.options-content{
    display: none;
    position: absolute;
    background-color: rgb(2, 200, 200);
    width: 100%;
    overflow: auto;
    z-index: 1;
}
.dropdown-content a{
    color: black;
    padding:12px 16px;
    text-decoration: none;
    display: block;
    text-align: center;
}
.dropdown-content a:hover{
    background-color:darkcyan;
}
.dropdown:hover .dropdown-content{
    display: block;
}
.dropdown:hover .dropbutton:hover{
    background-color: darkcyan;
}
input{
    border-radius: 10px;
    background-color: rgb(2, 200, 200);
    padding: 6px;
}
.ticket-options{
    margin-top: -220px;
    width: 250px;
    text-align: center;
    background-color:darkcyan;
    border-radius: 20px;
}
#tickets{
    width: 244px;
    border-radius: 0px;
    margin-top: 0;
}
button{
    background-color: rgb(2, 200, 200);
    border-radius: 5px;
}
.ul{
    list-style: none;
    height: 100px;
}
/*sign-in*/
form{
    margin-left: 10px;
    height: 320px;
}
.main-sign-in{
    height: 250px;

}
label{
    color: white;
}
input[type=text]{
    border: 2px solid black;
    background-color: white;
    padding: 10px 30px 10px 10px;
}
input[type=text]:hover{
border:2px solid rgb(2, 200, 200);
}

input[type=text]:active{
    outline: none;
    border: 2px solid darkcyan;
}
/*checkout*/
.container2{
    width: 100px;
    display: flex;
    flex-wrap: wrap;
}
fieldset{
    border-radius: 10px;
}

/*media queries*/

@media (width <= 500px){
     h1{
       font-size: 30px;
       color: white;
        
    }
    h2{
        font-size: 25px;
       
    }
    h3{
        font-size: 15px;
        height: 20px;
       margin-bottom: 0px;
    }
    h4{
        font-size: 10px;
    }
    .openhour{
        font-size: 10px;
    }
  li, p{
    font-size: 10px;
  }
  form{
    margin-left: 10px;
}
 a{
font-size: 20px;
}
.container{
    margin-left: 0px;
}

#check-out{
   
}
.dropdown{
    top: 15px;
}

}
